<!DOCTYPE html>
<html>

<head>
  <title>Doces 1</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <section class="sessao amarelo fundo">
    <%- include('partials/header') %>
      <div class="produtos">
        <div class="card-produto">
          <img src="/images/Sonho1.png">
          <div class="info-produto">
            <h3>Nome do produto</h3>
            <p>Descrição do produto</p>
            <button class="botao-preco">
              <span class="icon">🧺</span> 13,00
            </button>
          </div>
        </div>

        <div class="card-produto">
          <img src="/images/Sonho2.png">

          <div class="info-produto">
            <h3>Nome do produto</h3>
            <p>Descrição do produtos</p>
            <button class="botao-preco">
              <span class="icon">🧺</span> 13,00
            </button>
          </div>
        </div>

        <div class="card-produto">
          <img src="/images/Sonho3.png">

          <div class="info-produto">
            <h3>Nome do produto</h3>
            <p>Descrição do produtos</p>
            <button class="botao-preco">
              <span class="icon">🧺</span> 13,00
            </button>
          </div>
        </div>
      </div>
  </section>
</body>

</html>