<!DOCTYPE html>
<html>

<head>
  <title>Doces 1</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
  <section class="sessao azul fundo">
    <%- include('partials/header') %>
      <div class="produtos">
        <div class="card-produto">
          <img src="/images/Donut1.png">
          <div class="info-produto">
            <h3>Nome do produto</h3>
            <p>Descrição do produto</p>
            <button class="botao-preco" aria-label="Adicionar ao carrinho por R$ 13,00">
              <i class="fas fa-shopping-basket" aria-hidden="true"></i>
              <span>R$ 13,00</span>
            </button>
          </div>
        </div>

        <div class="card-produto">
          <img src="/images/Donut2.png">

          <div class="info-produto">
            <h3>Nome do produto</h3>
            <p>Descrição do produto</p>
            <button class="botao-preco">
              <span class="icon">🧺</span> 13,00
            </button>
          </div>
        </div>

        <div class="card-produto">
          <img src="/images/Donut3.png">

          <div class="info-produto">
            <h3>Nome do produto</h3>
            <p>Descrição do produto</p>
            <button class="botao-preco">
              <span class="icon">🧺</span> 13,00
            </button>
          </div>
        </div>
      </div>
      </div>
  </section>
</body>

</html>