<!DOCTYPE html>
<html>

<head>
  <title>LS Pastery - Sonhos</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <link rel="icon" type="image/png" href="/images/Icon.png">

</head>

<body>
  <section class="sessao amarelo fundo">
    <%- include('partials/header') %>
      <div class="produtos">
        <div class="card-produto">
          <img src="/images/Sonho1.png">
          <div class="info-produto">
            <h3>Chocolate 70% Cacau</h3>
            <p>Para os amantes de chocolate intenso.</p>
            <button class="botao-preco" aria-label="Adicionar ao carrinho por R$ 8,90">
              <i class="fas fa-shopping-basket" aria-hidden="true"></i>
              <span> R$ 8,90</span>
            </button>
          </div>
        </div>

        <div class="card-produto">
          <img src="/images/Sonho2.png">

          <div class="info-produto">
            <h3>Creme Branco</h3>
            <p>Recheio delicado com toque de baunilha.</p>
            <button class="botao-preco" aria-label="Adicionar ao carrinho por R$ 7,90">
              <i class="fas fa-shopping-basket" aria-hidden="true"></i>
              <span> R$ 7,90</span>
            </button>
          </div>
        </div>

        <div class="card-produto">
          <img src="/images/Sonho3.png">

          <div class="info-produto">
            <h3>Doce de leite</h3>
            <p>Recheio cremoso com coco ralado.</p>
            <button class="botao-preco" aria-label="Adicionar ao carrinho por R$ 8,90">
              <i class="fas fa-shopping-basket" aria-hidden="true"></i>
              <span> R$ 8,90</span>
            </button>
          </div>
        </div>
      </div>
  </section>
</body>

</html>