<header class="cabecalho">
  <img src="/images/Titulo.png" class="titulo">
  <nav class="abas">
    <a href="/" class="aba rosa">Croissants</a>
    <a href="/doces2" class="aba azul">Donuts</a>
    <a href="/doces3" class="aba amarelo">Sonhos</a>
  </nav>
  <a href="#" class="cesta-botao">
  <img src="/images/Botao.png" alt="Botão de cesta">
</a>
</header>
