<header class="cabecalho">
  <h1>Loja de Doces</h1>
  <nav class="abas">
    <a href="/" class="aba rosa">Doces 1</a>
    <a href="/doces2" class="aba azul">Doces 2</a>
    <a href="/doces3" class="aba amarelo">Doces 3</a>
  </nav>
  <a href="#" class="cesta-botao">
  <img src="/images/Botao.png" alt="Botão de cesta">
</a>
</header>
